<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Wish</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>


</head>
<body>

<div th:replace="~{fragments/navbar::navbar}"></div>

<div class="container">
    <h2>Add Vacation Wish</h2>
    <hr>

    <form th:action="@{/saveWish}" th:object="${wish}" method="post">
        <input type="text" th:field="*{location}" placeholder="Location" class="form-control col-4 mb-4">
        <input type="text" th:field="*{description}" placeholder="Description" class="form-control col-4 mb-4">

        <table class="table table-bordered table-striped" id="vacation-table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Members</th>
                <th>Time Period</th>
                <th>Start Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vacation: ${vacations}" th:data-vacation-id="${vacation.id}">
                <td th:text="${vacation.title}"></td>
                <td th:text="${vacation.memberAccess.size()}"></td>
                <td th:text="${vacation.timePeriod}"></td>
                <td th:text="${vacation.startDate}"></td>
            </tr>
            </tbody>
        </table>
        <input type="hidden" name="vacation" id="selectedVacation" th:value="${wish.vacation?.id ?: ''}">
        <button class="btn btn-primary" type="submit">Save</button>
        <input type="hidden" th:field="*{id}">
    </form>
    <hr>
    <a th:href="@{/wish}" class="btn btn-primary">Back to list</a>


</div>

<div th:replace="~{fragments/footer::footer}"></div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#vacation-table').DataTable();

        var selectedVacationId = $('#selectedVacation').val();

        //Preselect the vacation if the wish has one
        $('#vacation-table tbody tr').each(function () {
            var vacationId = $(this).data('vacation-id');
            if (vacationId == selectedVacationId) {
                $(this).addClass('table-primary');
            }
        });


        // Handle click event
        $('#vacation-table tbody').on('click', 'tr', function () {
            if ($(this).hasClass('table-primary')) {
                $(this).removeClass('table-primary');
                $('#selectedVacation').val(''); // Clear the selected vacation

            } else {
                $('tr.table-primary').removeClass('table-primary');
                $(this).addClass('table-primary');
                var vacationId = $(this).data('vacation-id');
                $('#selectedVacation').val(vacationId); // Set the selected vacation ID
            }
        });
    });
</script>

</body>
</html>