<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="~{fragments/navbar::navbar}"></div>

<div class="container mt-4 mb-4">
    <h2>Vacation List</h2>
    <a th:href="@{/addVacation}" class="btn btn-primary mb-2">Add Vacation</a>
    <hr>

    <table class="table table-striped table-bordered" id="vacation-table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Time Period</th>
            <th>startDate</th>
            <th>Members</th>
            <td>Active</td>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vacation : ${vacations}">
            <td th:text="${vacation.title}"></td>
            <td th:text="${vacation.timePeriod}"></td>
            <td th:text="${vacation.startDate}"></td>
            <td th:text="${vacation.getMemberAccess().size()}"></td>
            <td th:text="${vacation.isActive}"></td>
            <td>
                <a th:if="${vacation.isActive}" th:href="@{/vote(vacationId=${vacation.id})}" class="btn btn-primary">Vote</a>
                <a th:if="${vacation.isActive}" th:href="@{/conclude(vacationId=${vacation.id})}" class="btn btn-success">Conclude</a>
                <a th:if="${vacation.isActive}" th:href="@{/updateVacation(vacationId=${vacation.id})}" class="btn btn-secondary">Update</a>
                <a th:unless="${vacation.isActive}" th:href="@{/conclude(vacationId=${vacation.id})}" class="btn btn-info">View Results</a>
                <a th:href="@{/deleteVacation(vacationId=${vacation.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="~{fragments/footer::footer}"></div>


<script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $("#vacation-table").DataTable({
            "aoColumnDefs": [{
                "bSortable": false,
                "aTargets": [-1]
            }]
        })
    })
</script>
</body>
</html>